.page-header
  = link_to homes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_home_path(@home), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to home_path(@home), method: :delete, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Delete
  %h1 Show home

.container
  .row
    .col-xs-4.col-sm-4.col-md-4.col-sm-offset-1.col-md-offset-1
      .panel.panel.default
        .panel-heading.text-center.style-show-text
          =@home.address
        .ul.list-group.center.style-show-text
          .li.list-group-item.style-show-text
            Number of bedrooms:
            =@home.number_of_bedrooms
          .li.list-group-item.style-show-text
            Number of baths:
            =@home.number_of_baths
          .li.list-group-item.style-show-text
            Parking:
            =@home.parking
          .li.list-group-item.style-show-text
            Square Footage:
            =@home.square_footage
          .li.list-group-item.style-show-text
            Price:
            =@home.price
          .li.list-group-item.style-show-text
            Description:
            =@home.description
    .col-xs-6.col-sm-6.col-md-6
      .img-thumbnail{:style => "border:none; background:white;"}
        .image-container.img
        = image_tag attachment_url(@home, :cover_image), size: "700x500", class: "cover_image"
